  <% @recipe_ingredients.each do |article| %>
    <tr>
      <td><%= recipe_ingredient.name %></td>
      <td><%= recipe_ingredient.amount %></td>
      <td><%= link_to 'Show', recipe_ingredient_path(recipe_ingredient) %></td>
    </tr>
  <% end %>