<h1> recipes index</h1>


<table>
 
  <% @recipes.each do |recipe| %>
    <tr>
        <td><h3><%= recipe.name %> - <%= recipe.meal %></h3></td></tr>
    <tr>
        <td><b>Method</b><br><br><%= recipe.method %></td></tr>
    <tr>
      <td><br><%= link_to 'Show', recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>